<fieldset>
 <legend>Target form</legend>

 <table>
   <tr><td><label for="target_name">Name</label></td><td>
    <%= text_field 'target', 'name' %></td></tr>

    <tr><td><label for="target_relativepath">Relativepath</label></td><td>
    <%= text_field 'target', 'relativepath' %></td></tr>

 </table>

</fieldset>
