
<fieldset>
 <legend>Mask form</legend>

 <table>
   <tr><td><label for="mask_name">Name</label></td><td>
    <%= text_field 'mask', 'name' %></td></tr>

   <tr><td><label for="mask_value">Value</label></td><td>
    <%= text_field 'mask', 'value' %></td></tr>

   <tr><td><label for="mask_source">Source</label></td><td>
    <%= text_field 'mask', 'source' %></td></tr>

    <tr><td><label for="mask_optionflags">Flags</label></td><td>
    <%= text_field 'mask', 'optionflags' %></td></tr>

 </table>

</fieldset>