<fieldset>
 <legend>Task form</legend>

 <table>
   <tr><td><label for="task_name">Name</label></td><td>
    <%= text_field 'task', 'name' %></td></tr>

    <tr><td><label for="task_flags">Flags</label></td><td>
    <%= text_field 'task', 'flags' %></td></tr>

 </table>

</fieldset>
