<h1>New Task</h1>

<%= form_tag pipeline_tasks_path do %>
 <%= render :partial => 'tasks/form' %>

 <fieldset>
   <button type="submit">Save</button>
   <%= link_to 'Cancel', pipeline_tasks_path %>
 </fieldset>
<% end %>
