<fieldset>
 <legend>Configuration form</legend>

 <table>
   <tr><td><label for="configuration_name">Name</label></td><td>
    <%= text_field 'configuration', 'name' %></td></tr>

    <tr><td><label for="configuration_description">Description</label></td><td>
   <%= text_field 'configuration', 'description' %></td></tr>

    <tr><td><label for="configuration_relativepath">Path</label></td><td>
   <%= text_field 'configuration', 'relativepath' %></td></tr>

</table>

</fieldset>
