<fieldset>
 <legend>Job form</legend>

 <!-- need a drop down with the available configurations in order to create a new job -->
 <!-- The only editable thing when a job has been created is the state -->

 <table>
   <tr><td><label for="job_state">State</label></td><td>
    <%= text_field 'job', 'state' %></td></tr>

 
 </table>

</fieldset>
