<% if @amis.empty? %>
 <p>There are no AMIs ???</p>
<% else %>
 <table>
 <% @amis.each do |ami| %>
   <tr>
     <td><%= ami.image_id %></td>
		 <td><%= ami.description %></td>
   </tr>
 <% end %>
 </table>
<% end %>
